{% extends "shared/base.html" %}

{% block title %}Login to dbasik{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div id='header'>
     <h1>Login to dbasik</h1>
    </div>

    <div class="form-container">
        <input name="email" type="email" placeholder="Your Email Address" required>
        <input name="password" type="password" placeholder="Password" required>
        <button type="submit" class="button">Register</button>
    </div>
    {% if errors %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <div id="content">
    Here we want you to log in.
    </div>
{% endblock %}
