{% extends "shared/base.html" %}

{% block title %}dbasik - Datamaps{% endblock %}

{% block head %}
{% endblock %}

<style>
    th, td {
        border-bottom: 1px solid red;
    }
     tr:hover {
         background-color: coral;
     }
</style>

{% block content %}
<h1>{{ datamap.name }} </h1>
    <div>
        <table style="width: 60%; border: 1px solid black; border-collapse: collapse; border-spacing: 2px;">
            <thead>
            <tr style="background-color: #4CAF50; text-align: left">
                <th>Key</th>
                <th>Sheet</th>
                <th>Type</th>
                <th>Cell Reference</th>
            </tr>
            </thead>
            <tbody>
            {% for dml in datamap_lines %}
                <tr>
                    <td>{{ dml.key }}</td>
                    <td>{{ dml.sheet }}</td>
                    <td>{{ dml.datatype }}</td>
                    <td>{{ dml.cellref }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
