{% extends "shared/base.html" %}

{% block title %}dbasik - Datamaps{% endblock %}

{% block head %}
{% endblock %}

<style>
th, td {
    border-bottom: 1px solid red;
}
     tr:hover {
         background-color: coral;
     }
</style>

{% block content %}
<div>
    <h1>Datamaps</h1>
    <div style="margin: 10px 0px; 10px 0px;">
        <h3>Instructions</h3>
        <p>Datamaps are used for this and that. They are very useful for certain things.
            Think about that - VERY useful for certain things.</p>

        <p>Use the <strong>Create a new Datamap</strong> form below to upload a CSV file 
            into the system.</p>

    </div>
    <div class="flex-container">
        <div id="callout-box">
            <strong>Current datamaps:</strong>
            <ul>
                {% for dm in datamaps %}
                <li><a href="#">{{ dm.name }}</a> ({{ dm.tier_name }})</li>
                {% endfor %}
            </ul>
        </div>
        <div id="new-datamap-form">
            <h2 style="margin: 0;">Create a new Datamap</h2>
            <div>
                <form action="" method="post" enctype="multipart/form-data">
                    <label for="dm_name">Datamap name:</label>
                    <input type="text" value="" id="dm_name" name="dm_name" placeholder="Datamap name" required autofocus> 
                    <label for="dm_file">Datamap name (CSV format):</label>
                    <input type="file" value="" name="datamap_csv" id="dm_file"/>
                    <button class="button" type="submit">Upload</button>
                </form>     
            </div>
        </div>

    </div>
    <p></p>
</div>
{% endblock %}

