* {
    box-sizing: border-box;
    font-family: "Roboto Slab";
}

/* forms */
.form-container {
    padding: 20px;
    width: 30%;
    margin: auto;
    border-radius: 6px;
    background-color: #a7d2ae;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 3px;
    border: 1px solid green;
}

body {
    background: #ebf9f6;
}


#register-intro {
    padding: 10px;
}

#register-header {
    margin: auto;
    width: 20%;
    padding-bottom: 10px;
}

.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 2px;
    margin: 8px;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ebf9f6;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 
