{% extends "shared/../shared/base.html" %}

{% block title %}dbasik{% endblock %}

{% block head %}
{% endblock %}

<style>
    th, td {
        border-bottom: 1px solid red;
    }
     tr:hover {
         background-color: coral;
     }
</style>

{% block content %}
    <h1>Projects</h1>
    <div>
        <table style="width: 50%; border: 1px solid black; border-collapse: collapse; border-spacing: 2px;">
            <thead>
            <tr style="background-color: #4CAF50; text-align: left">
                <th>Name</th>
                <th>Type</th>
                <th>Stage</th>
                <th>Tier</th>
            </tr>
            </thead>
            <tbody>
            {% for p in projects %}
                <tr>
                    <td><a href="#">{{ p.name }}</a></td>
                    <td><a href="#">{{ p.project_type.name }}</a></td>
                    <td><a href="#">{{ p.project_stage.name }}</a></td>
                    <td><a href="#">{{ p.tier.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

