{% extends "shared/base.html" %}

{% block title %}Login to dbasik{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Log in to dbasik</h1>
        <div id="register-intro">
            <strong>Log in here</strong>
        </div>
        <form action="" method="post" class="login-form">
            <input name="email" type="email" placeholder="Your Email Address" required>
            <input name="password" type="password" placeholder="Password" required>
            <button type="submit" class="button">Login</button>
        </form>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    </div>
{% endblock %}
